#root {
  margin: 0 auto;
  min-height: 100vh !important;
}

body {
  min-height: 100vh !important;
}

.min-height-main {
  min-height: 75vh
}

.height-header {
  height: 15vh
}

.height-footer {
  height: 10vh
}